body {
    background-color: #0D1321;

}

.container {
    margin: -20px 5% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    border-radius: 0;
}

.image {
    padding-top: 28px !important;
}

@media (max-width: 770px){
    .container {
        margin: -10px 2% !important;
        border-radius: 0;
    }
    img {
        width: 100%;
        
    }
}